
/* STYLES FOR BACKGROUND IMG */
        body {
            background-image:url("assets/pics/drummer.gif");
            background-repeat:repeat; 
            font-family: 'Open Sans', sans-serif;
            }

        #map {
            height: 400px;
            width: 100%;
            margin: 0 auto;
        }
        .jumbotron {
            
            background-image:url("assets/pics/200w.gif");
            text-color: #d81b60;
        }
